/* ====== MAP COMPONENT STYLES ====== */

/* ======
MAP COMPONENT STYLES
	- BASE
====== */


/* ==========================================================================
$	BASE
========================================================================== */

.c-map {

	.c-map-inner {

		.c-map-el {
			height: em(440);
			width: 100%;

			@include small {
				height: em(600);
			}
		}
	}
}