/* ====== FOOTER STYLES ====== */

/* ======
FOOTER STYLES
	- BASE
	- NAV
	- FOOTER FOLLOW
	- FOOTER BOTTOM
====== */


/* ==========================================================================
$	BASE
========================================================================== */

footer {
	padding: 3em 0;
	text-align: center;

	p {
		margin: 0 auto;
		max-width: rem(425);
	}

	@include small {
		padding: 6em 0;
	}
}