/* ====== TRANSITION MIXINS ====== */

@mixin fadeOut {
	opacity: 0;
	transition: opacity 0.8s cubic-bezier(.455, .03, .515, .955);
}

@mixin fadeIn {
	opacity: 1;
}

@mixin fadeUpOut {
	opacity: 0;
	transform: translateY(60px);
	transition: opacity 0.8s cubic-bezier(.455, .03, .515, .955), transform 0.8s cubic-bezier(.455, .03, .515, .955);
}

@mixin fadeUpIn {
	opacity: 1;
	transform: translateY(0);
}